[submodule "external/sdl"]
	path = VineBackend/external/sdl
	url = https://github.com/libsdl-org/SDL.git
	branch = release-2.30.x
[submodule "external/sol2"]
	path = VineBackend/external/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "VineBackend/external/lua"]
	path = VineBackend/external/lua
	url = https://github.com/walterschell/Lua.git
[submodule "VineBackend/external/spdlog"]
	path = VineBackend/external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "VineBackend/external/glm"]
	path = VineBackend/external/glm
	url = https://github.com/g-truc/glm.git
[submodule "VineBackend/external/pugixml"]
	path = VineBackend/external/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "VineBackend/external/crossguid"]
	path = VineBackend/external/crossguid
	url = https://github.com/graeme-hill/crossguid.git
