[submodule "external/sdl"]
	path = VineMain/external/sdl
	url = https://github.com/libsdl-org/SDL.git
	branch = release-2.30.x
[submodule "external/sol2"]
	path = VineMain/external/sol2
	url = https://github.com/ThePhD/sol2.git
